body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* the following is copied from Bootstrap */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
}
.nav {
  flex: initial;
  width: 250px;
  min-width: 250px;
  border-right: 1px solid #ddd;
  background-color: #eff0f1;
  font-size: 16px;
}
.flexRight {
  flex: 1;
}

.headerRowLeft {
  position: absolute;
  top: 0; left: 0;
  height: 50px;
  width: 250px;
  background-color: #999;
  padding: 10px;
  font-size: 20px;
}

.bottom {
  /* same as header row's height */
  margin-top: 50px;
  height: 100%;
  overflow: auto;
}

.headerRowRight {
  position: relative;
  top: 0; left: 0;
  height: 50px;
  width: 100%;
  background-color: #999;
}
.contentPane {
  margin-bottom: 15px;
  height: 100%;
  overflow: auto;
}
.contentFooter {
  position: absolute;
  right: 0; bottom: 0;
  left: 250px;
  height: 15px;
  width: 100%;
  background-color: #fff;
}

/* for card dealer */
.tContainer {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
}
.tTop {
  flex: initial;
  margin: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #0099ff;
  background-color: #0099ff;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tBot {
  flex: 1;
  margin-left: 10px;
}
.card {
  height: 100px;
  width: 100px;
  background-color: #eff0f1;
  border: 1px solid #000;
  float: left;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
/* end of card dealer*/
