* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.container {
  position: relative;
  margin: 10px;
  display: flex;
  height: 100%;
  border: 1px solid #999;
}
.eventType {
  flex: initial;
  width: 250px;
  min-width: 100px;
  height: 100%;
  overflow-y: auto;
  background-color: grey;
}
.eventTable {
  height: 100%;
  flex: 1;
  overflow: auto;
}

